body {
    background-color: whitesmoke;   
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 24px;
}

h2 {
    color: rgb(28, 115, 27);
    font-size: 20px;
}

h3 {
    color: rgb(28, 45, 115);
    font-size: 17px;
}

p {
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
}

.month {
    margin-top: 0;
    color: rgb(106, 30, 30);
    font-size: 15px;
    margin-bottom: 8px;
    font-style: oblique;
}

.MyName {
    color: black;
    font-size: 30px;
}

.listed {
    padding-left: 20px;
    list-style-position: inside;
}

.skill {
    font-size: 15px;
    font-style: italic;
}

.socials {
    color: rgb(36, 10, 86);
    font-weight: bold;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

   